<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".widget.SteamGuardWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/guard_widget_info" />
        </receiver>

        <service android:name=".widget.SteamGuardWidgetUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" >
        </service>
    </application>
</manifest>